<table border="0" cellpadding="0" cellspacing="0" style="padding:40px 15px;width:100%;max-width:540px;margin:0 auto;">
  <tbody>
    <tr>
      <td>
        <a href=<%= Rails.configuration.x.app.client_url %> target="_blank" rel="noopener noreferrer">
          <img alt="koechi" src=<%= "#{Rails.configuration.x.app.client_url}/images/logo.svg" %> style="width:120px;height: 28px">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <table  border="0" cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto">
          <tbody>
            <tr>
              <td>
                <div style="font-size: 0.95em;background: #FFF;padding: 20px 15px;margin-top: 17px;border-radius: 7px;">
                  <%= @sender.name %>（<a target="_blank" rel="noopener noreferrer" href=<%= "#{Rails.configuration.x.app.client_url}/#{@sender.username}" %>>@<%= @sender.username %></a>）さんが
                    <a target="_blank" rel="noopener noreferrer" href=<%= "#{Rails.configuration.x.app.client_url}/link/comments/#{@notifiable.slug}" %>>あなたのコメント</a>に返信しました
                  </div>
                </td>
              </tr>
              <tr>
                <td style="padding:15px 0;"></td>
              </tr>
              <tr>
                <td style="width:100%; padding-top:15px; text-align:center; border-top:1px solid rgba(0,0,0,0.1)">
                  <a href=<%= "#{Rails.configuration.x.app.client_url}/settings/account" %> style="color: rgba(0,0,0,0.5);font-size: 13px" target='_blank' rel='noopener noreferrer'>通知設定を変更する</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
